/* color veriable */
$green_deef:#00a54e;
$green_light_1:#4caf50;
$green_light_2:#d9f0d9;
$orange_deef:#f1ae4f;
$orange_light:#fde9c8;
$red_deef:#d85c37;
$red_light:#fddcd0;
$black_deef:#222221;
$black_light:#7f7f7e;
$shadow_color:#c7c0f7;
$white:#fefefd;
/* dark_mode_color */
$yellow_light1:#c3c39a;
$yellow_light2:rgb(159, 159, 158);
/* font name */
$poppins:'Poppins';
/* border */
$border:0px solid red;
